{% extends 'sns/layout.html' %}

{% block title %}プロフィール変更{% endblock%}

{% block header %}
<h1>登録情報を変更する</h1>
{% endblock %}

<body>
{% block content%}
<form action="{% url 'account:user_change' id %}" method="post">
{% csrf_token %}
<table class="table">
{{form.as_table}}
{% comment %}
<tr><td>ユーザー名：{{ form.username }}※{{ form.username.help_text }}</td></tr>
<tr><td>Eメール：{{ form.email }}</td></tr>
<tr><td>身長：{{ form.height }}※{{ form.height.help_text }}</td></tr>
<tr><td>居住地：{{ form.place }}</td></tr>
<tr><td>生年月日：{{ form.birthday }}※{{ form.birthday.help_text }}</td></tr>
<tr><td>ユーザーアイコン：{{ form.user_icon }}</td></tr>
<tr><td>
<input type="submit" value="登録情報を変更する" class="btn btn-primary mt-2">
</td></tr>
</table>
{% endcomment %}
<tr><th><td>
<input type="submit" value="登録情報を変更する" class="btn btn-primary mt-2">
</td></th></tr>
</form>

{% endblock %}

</body>