/*headerについて*/
#header-style{
  background-image: url("/media/images/banner.jpg");
  background-size:100%;
}

.inline-block_test {
  display: inline-block;
}

.right {
  position:absolute;
  top:80px;
  right:0%;
}

.banner-font {  
    font-size: 150px;
    font-family: "Monotype Corsiva";
    position:relative;
    left:20%;
}

/*jumbotronについて*/
#position {
  position: relative;
  z-index:10;
}

#jumbotron-extend { 
    background-size: contain; 
    padding:0;
}

.container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #EEEEEE;
  }
  
  /*slickについて*/
  .slick-slide {
    text-align: center;
    color: #EEEEEE;
    background: white;
  }
  
  /*ハンバーガーメニュー下準備*/

  .w1000{
    max-width:1000px;
    margin: 0;
    position: relative;
    height:100%;
}

.menubtn{
    width:100%;
    max-width: 50px;
    position: fixed;
    z-index: 999;
}

nav{
    padding:150px 3% 20px;
    position: absolute;
    height:800px;
    width:1200px;
    z-index:1;
    background: linear-gradient(135deg, #ec7cd0, transparent);
}

.content{
    padding-top:120px;
}

#humberger {
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
    /*z-index:1;*/
  }
  #humberger div {
    position: relative;
    height: 4px;
    width: 24px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
    /*z-index:1;*/
  }
  #humberger div:nth-of-type(1) {
    top: 20px;
  }
  #humberger div:nth-of-type(2) {
    top: 10px;
  }
  #humberger div:nth-of-type(3) {
    bottom: 0;
  }