{% extends 'sns/layout.html' %}

{% block title %}ダイレクトメッセージ{% endblock %}

{% block header %}
<h1>ダイレクトメッセージ</h1>
{% endblock %}

<body>
{% block content %}
<form action="{% url 'sns:dm' %}" method="post">
{% csrf_token %}
{% if mark == 1 %}
<input type="hidden" name="mode" value="__dm_form__">
{% else %}
<input type="hidden" name="mode" value="{{atesaki}}">
{% endif %}
   {{dm_form}}
<button>送信</button>
</form>
<hr>
{% if dialogs %}
<table class="table">
  {% for item in dialogs %}
  <tr>
  <td>{{item.content}}</td>
  <td>{{item.user}}から</td>
  <td>{{item.owner}}へ</td>
  <td>{{item.dm_at}}</td>
  <tr>
  {% endfor %}
{% else %}
DM履歴はありません
{% endif %}
</table>
{% endblock %}
</body>