{% extends 'sns/layout.html' %}

{% block title %}Groups{% endblock %}

{% block header %}
<h1>Group</h1>
<p class="caption">※グループを選択したうえで、フレンドのチェックをいれるとグループに追加できます。</p>
<a href="{% url 'sns:all_users' %}">新しいフレンドを見つける</a>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"
        {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}

<p>※新しいGroupを作りたい場合は「create new group」してください</p>
<form action="{% url 'sns:creategroup' %}" method="post">
{% csrf_token %}
<input type="hidden" name="group" value="{{group}}">
{{create_form}}
<button>create new group</button>
</form>

<hr>
<p>※フレンドを登録したいグループを選択して「select member」してください</p>
<form action="{% url 'sns:groups' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__groups_form__">
{{groups_form}}
<button>select member</button>
</form>

<hr>
<p>※追加したいフレンドにチェックをいれて「set member」してください</p>
<form action="{% url 'sns:groups' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__friends_form__">
<input type="hidden" name="group" value="{{group}}">
{{friends_form}}
<button>set members</button>
</form>

{% endblock %}
