{% extends 'sns/layout.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block header %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"
        {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
      <ul class="slider responsive jumbotron" id="jumbotron-extend">
          <li><div><a href="#"><img src="{% static "media/images/capple.jpg" %}" alt="image01"></a></div></li>
          <li><div><a href="#"><img src="{% static "media/images/capple2.jpg" %}" alt="image02"></a></div></li>
          <li><div><a href="#"><img src="{% static "media/images/capple3.jpg" %}" alt="image03"></a></div></li>
          <li><div><a href="#"><img src="{% static "media/images/capple4.jpg" %}" alt="image04"></a></div></li>
          <li><div><a href="#"><img src="{% static "media/images/capple5.jpg" %}" alt="image05"></a></div></li>
      </ul>

<!--なぜか外部jsファイルが読み込めないのでやむなく直接記述-->
<script type="text/javascript"> 
$('.responsive').slick({
  autoplay:true,
  autoplaySpeed:4000,
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 2,
  slidesToScroll: 2,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
  ]
});
</script>

<hr>
<p class="caption">※グループのチェックをONにしてupdateすると、
そのグループに登録されている利用者のメッセージだけがタイムラインに表示されます。</p>
<form action="{% url 'sns:index' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__check_form__">
{{check_form}}
<button>update</button>
</form>

<h1>タイムライン</h1>
{% for item in contents %}
<hr>
<p class="message_public">

</p>
<p class="message_content">{{item.content}}</p>
<p class="message_date"> ({{item.pub_date}})</p>
{% if item.share_id > 0 %}
    <hr class="share_line">
    <p class="share_item_content">{{item.get_share}}</P>
{% endif %}
<p class="message_owner">
    <span class="message_counter">share={{item.share_count}} good={{item.good_count}}</span>
    <a href="{% url 'sns:share' item.id %}"><button>share</button></a>
    <a href="{% url 'sns:good' item.id %}"><button>good!</button></a>
</p>
<hr class="cp_hr01" />

{% endfor %}

{% endblock %}
