{% extends 'sns/layout.html' %}

{% block title %}Index{% endblock %}

{% block header %}
<a href="{% url 'sns:notifications' %}">通知</a>
<h1 class="display-4 text-primary">Sns</h1>
<p class="caption">※グループのチェックをONにしてupdateすると、
そのグループに登録されている利用者のメッセージだけが表示されます。</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"
        {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'sns:index' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__search_form__">
{{search_form}}
<button>Search</button>
</form>
<hr>
<form action="{% url 'sns:index' %}" method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__check_form__">
{{check_form}}
<button>update</button>
</form>
[<a href="{% url 'sns:all_friends' %}">全登録Friend</a>のタイムライン]
{% for item in contents %}
<hr>
<p class="message_public">

</p>
<p class="message_content">{{item.content}}</p>
<p class="message_date"> ({{item.pub_date}})</p>
{% if item.share_id > 0 %}
    <hr class="share_line">
    <p class="share_item_content">{{item.get_share}}</P>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Department of the Interior (@Interior) <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endif %}
<p class="message_owner">
    <span class="message_counter">share={{item.share_count}} good={{item.good_count}}</span>
    "{{item.owner}}"(<a href="{% url 'sns:add' %}?name={{item.owner}}">
        add friend</a>)
    <a href="{% url 'sns:share' item.id %}"><button>share</button></a>
    <a href="{% url 'sns:good' item.id %}"><button>good!</button></a>
</p>
{% endfor %}
{% endblock %}
