{% load static %}
<!doctype html>
<html lang="ja">

<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/hamburger.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/nav_sidebar.css" %}'>
    <script type="text/javascript" src='{% static "js/hamburger.js" %}'></script>

<div class="container">
  <p>ハンバーガーメニューボタンを実装してみる</p>
  <!-- ここから -->
  <div class="hamburger-menu">
    <div class="hamburger-menu-line line-top"></div>
    <div class="hamburger-menu-line line-middle"></div> 
    <div class="hamburger-menu-line line-bottom"></div>
  </div>
  <!-- ここまで -->
</div>

</head>

{% comment%}
    <!-- ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'sns:index' %}"></a>
      
        <span class="navbar-toggler-icon"></span>

      <div class="body_content">
    <div class="body_content_inner">
        <table class="login_table" width="100%">
        
        <tr><th width="150px">login user:</th>
            <td>"{{login_user}}"</td></tr>
        </table>
      <div class="header">{% block header %}
            {% endblock %}</div>  
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'sns:logout' %}">ログアウト</a>
          {% endif %}
          </ul>
      </div>

      <hr>
      
        <table class="login_table_inner">
        <tr>
        <td width="50px">menu:</td>
        <td width="50px"><a href="{% url 'sns:index' %}">index</a></td>
        <td width="45px"><a href="{% url 'sns:post' %}">post</a></td>
        <td width="55px"><a href="{% url 'sns:groups' %}">group</a></td>
        <td width="70px"><a href="{% url 'sns:mypage' %}">mypage</a></td>
        <td width="50px"><a href="{% url 'sns:dm' %}?name=dst">DM</a></td>
        </tr>
        </table>
        </td></tr>
        {% endcomment%}
  <body>
    <header>
      <h1 class="display-4 text-primary">Short</h1>
  </header> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  

    <div class="body_content">
    
    <table class="login_table" width="100%"> 
           <tr><th width="150px">login user:</th>
            <td>"{{login_user}}"</td></tr>
        </table>
           
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
        <ul class="navbar-nav">
        <li class "nav-item active">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'sns:logout' %}">ログアウト</a>
          {% endif %}
          </li>
          </ul>
     </div>

    <div id="open" class="btn"><a href="#g_menu">三</a></div>
      <div id="g_menu">
        <div id="close" class="btn"><a href="#">×</a></div>
          <ul>
            <li><a href="{% url 'sns:index' %}">index</a></li>
            <li><a href="{% url 'sns:post' %}">post</a></li>
            <li><a href="{% url 'sns:groups' %}">group</a></li>
            <li><a href="{% url 'sns:mypage' %}">mypage</a></li>
            <li><a href="{% url 'sns:dm' %}?name=dst">DM</a></li>
          </ul>
        </div>
  </div>   

  
    </nav>

    <!-- メインコンテント -->
    <div>
        {% block header %}{% endblock  %}
    </div>
    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>
  
    <footer>
        <span style="float:right">copyright 2020
            Tatsuo KOSHIDA.</span>
    </footer>
    
</body>
</html>