{% extends "sns/layout.html" %}
{% block content %}
<form action="" method="POST">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-lg btn-block">ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>

<div class="card col-md-3 offset-md-4">
        <div class="card-body">
            <a href="{% url 'sns:user_create' %}" class="btn btn-success btn-lg btn-block" >新規会員登録</a>
        </div>
    </div>

<div align="center">
        {% comment %}
        <button type="button" class="button"
        onclick="location.href='{% url 'social:begin' 'twitter' %}?next={{ next }}'">
        Twitter でログイン</button>
        {% endcomment%}
         <button type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'">Twitterログイン</button>
    </div>    
{% endblock %}