{% extends 'sns/layout.html' %}

{% block title %}マイページ{% endblock%}

{% block header %}
<h1>{{friend.username}}さんのマイページ</h1>

"{{friend.username}}"(<a href="{% url 'sns:dm' %}?name={{friend.username}}">DMする</a>)
{% endblock %}


<body>
{% block content %}
<table class="table">
      <tr>
        <th>名前</th>
        <th>生年月日</th>
        <th>性別</th>
        <th>居住地</th>
        <th>身長</th>
      </tr>
      <tr>
      <span class="float-right">
     <td>{{friend.username}}</td>
     <td>{{friend.birthday}}</td>
     {% if friend.gender == 1%}
     <td>男性</td>
     {% else %}
     <td>女性</td>
     {% endif %}
     <td>{{friend.place}}</td>
     <td>{{friend.height}}</td>
      </span>
      </tr>
</table>
{% endblock %}
</body>
