{% extends 'sns/layout.html' %}
{% load static %}

{% block title %}最近のタイムライン{% endblock %}

{% block header %}
<h1>最近のタイムライン</h1>
<p class="caption">※ツイートを反映させたいグループのチェックをONにしてselect groupすると、ONにしてあるグループのタイムラインにtweetを投稿できます。</p>
{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}
<input type="hidden" name="mode" value="__groups_form__">
<form action="{% url 'sns:twitter' %}" method="post">
   {{groups_form}}
  <button>select group</button>
</form>

<div class="col-md-6">
  {% if API_limit %}
    {% for item in timeline%}
      <dl>
        <td>{{item.user.screen_name}}</td>
        <td>{{item.text}}</td>
        <td>{{item.user.profile_image_url}}</td>
        <td>{{item.created_at}}</td>
        <td><a href="{% url 'sns:addtweet' %}?group={{group}}&text={{item.text}}">選んだタイムラインに反映</a></td>
      </dl>
    {% endfor %}
  <ul id="output"></ul>
</div>
    {% endif %}
{% endblock %}